# Gradle / build
.gradle/
build/
**/build/

# IDE / Android Studio
.idea/
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS
.DS_Store

# Local configs
local.properties

# Android-specific generated
captures/
.externalNativeBuild/
.cxx/
